/* Alphabetized*/
.blogImage {
    display: block;
    width: 20%;
}

/* Body */
body {
    top: 0;
    color: rgb(56, 56, 56);
    background-color: white;
    font-size: 20px;
    width: auto;
    padding: 0%;
    margin: 0%;
    margin-bottom: 200px;
}
.content                {margin-top: 50px;margin-bottom: 150px;}
.content h1             {margin-left: 125px;margin-right: 125px;}
.content h2             {margin-left: 125px;margin-right: 125px;}
.content h3             {margin-left: 125px;margin-right: 125px;}
.content h4             {margin-left: 125px;margin-right: 125px;}
.content p              {margin-left: 125px;margin-right: 125px;margin-top: 0px;line-height: 1.5em;}
.content img            {margin-left: 125px;margin-right: 125px;padding: 0px;}
.content ul li          {margin-left: 125px;margin-right: 125px;}
.content a              {margin-left: 125px;margin-right: 125px;}
.content figure {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
}
.content figcaption{
    padding: 0px;
    margin-left: 125px;
    font-style: italic;
    font-size: 20px;
}
.content figure img {
    box-shadow: -5px 5px 15px rgb(184, 184, 184);
    margin-right: 25px;
    padding: 0px;
}

/* For documents page */
.documents      {margin-top: 50px;}
.documents p    {margin-left: 125px;margin-right: 200px;}
.documents a    {margin-left: 150px;margin-right: 200px;line-height: 1.5em;}
.documents h3   {margin-left: 125px;margin-right: 200px;}

/* Header */
.header {
    background-image: url("images/solarPanel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    color: rgb(253, 233, 120);
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.header h1 {
    margin-top: 70px;
    margin-bottom: 0px;
    margin-left:  125px;
    margin-right: 125px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, -5px 2.5px 10px rgb(80, 62, 13);
}
.header h2 {
    margin-top: 10px;
    margin-left:  125px;
    margin-right: 125px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, -5px 2.5px 10px rgb(80, 62, 13);
}

html {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.indexImage {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
}

/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    width: auto;
    margin: 0px;
    margin-left: 125px;
    padding: 0px;
    border-left: 1px solid black;
}  
.navbar a {
    float: left;
    color: rgb(255, 230, 88);
    text-align: center;
    padding: 14px 16px;
    border-right: 1px solid black;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: rgb(72, 72, 112);
    color: white;
}

.navTab {
    display: block;
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    background-color: #333;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* for Blog page */
.profileImageContainer {
    width: 80%;
    margin: 10px;
    line-height: 1.0em;
    padding: 0px;
}
.profileImageContainer h3 {
    display: block;
    line-height: 1.0em;
    margin-left: 0px;
    padding: 0px;
}
.profileImageContainer ul {
    display: list-item;
    margin: 0px;
    padding: 0px;
}
.profileImageContainer ul li {
    line-height: 1.5em;
    margin: 0px;
    padding: 0px;
}
.profileImageContainer img {
    display: block;
    float: left;
    width: 350px;
    margin-right: 40px;
    padding: 0px;
    box-shadow: -5px 5px 15px rgb(184, 184, 184);
}
.profileImageSeparator {
    display: inline-block;
    width: 96%;
    height: 2px;
    background-color: rgb(212, 212, 212);
    margin-left: 2%;
    margin-top: 30px;
}

/* For embed Google Doc */
.textBox {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 0px;
    padding: 0px;
    margin: 0px;
}